* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #333;
  color: white;
  transition: color 3s ease;
}
.navi {
  display: flex;
  gap: 35px;
  margin-right: 200px;
}
.logo {
  margin-left: 50px;
  text-align: center;
}
.logo p {
  font-size: 1.7em;
}
.navi a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 1s ease;
}
.navitem {
  border-radius: 10px;
  padding: 10px;
}
.navitem a:hover {
  color: #3498db;
}
.about {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}
.about input {
  width: 25vw;
}
input {
  font-size: 15px;
  padding: 5px;
  border: #333 solid 0.5px;
  height: 30px;
}

.align {
  width: 100%;
}
.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.column {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin: 20px 0px;
}
.container {
  border: 0.5px solid;
  width: 91vw;
  margin: auto;
}
.heading {
  width: 90vw;
  margin: 20px auto;
  margin-top: 50px;
  background-color: #333;
  color: white;
  padding: 10px;
}
.item {
  margin: 3px;
}
.column input {
  border: #333 solid 0.5px;
}
.skillinput {
  border: 1px solid;
  width: 91vw;
  margin: auto;
}
.skillbox {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.skillbox input {
  width: 50vw;
}
.skillscontainer {
  display: flex;
  flex-direction: column;
}
.achieve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  margin-bottom: 10px;
}
.achieveform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border: solid 0.5px;

  margin: 0%;
  font-size: 1.2em;
}
.achieveitem {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.achieveitem input {
  width: 40vw;
}
.add {
  background-color: #333;
  color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 30px;
  margin-bottom: 20px;
  transition: all ease 1s;
}
.add:hover {
  background-color: #2333;
  color: black;
}
.achieveinput {
  display: flex;
  gap: 20px;
}
.remove-btn {
  height: 30px;
  width: 30px;
  background-color: #f70808;
  color: white;
  font-size: larger;
}
.expbox {
  display: flex;
  flex-direction: column;
}
.exp {
  border: 1px solid;
  width: 91vw;
  margin: auto;
}
.right {
  margin: 20px;
}
.download {
  color: white;
  background: #333;
  padding: 15px;
  border-radius: 4px;
  margin: 20px;
  transition: all ease 1s;
}
.download:hover {
  background-color: #2333;
  color: black;
  cursor: pointer;
  border: 2px solid gray;
  box-shadow: #3498db 3px;
}
@media (max-width: 700px) {
  .logo {
    margin-left: 5px;
    font-size: 0.9em;
  }
  .navitem {
    border: 0px;
  }
  .navi {
    margin-right: 20px;
    font-size: 0.9m;
    gap: 5px;
  }
  .column {
    flex-direction: column;
  }
  .column input {
    width: 85vw;
    margin-left: 10px;
  }

  .heading {
    width: 90vw;
  }
  .item {
    margin: 3px auto;
  }
  .about label {
    margin-left: 10px;
  }
  .achieveform {
    flex-direction: column;
  }
  .achieveinput {
    flex-direction: column;
  }
  .achieveitem input {
    width: 85vw;
  }
  .achieveitem label {
    margin: 0px;
  }
  .skillbox input {
    width: 80vw;
  }
  .skillbox label {
    margin: 0px;
  }
}
